@font-face {
      font-family: 'Joscelyn';
      src:url("./Joscelyn.woff2");
}
      /* #demo {font-family: Joscelyn; font-size: 120%;} */

@font-face {
    font-family: 'Elstob';
    src:url("./Elstob[GRAD,opsz,wght].woff2");
    font-weight: 200 800;
    font-style: normal;
}
@font-face {
    font-family: 'Elstob';
    src:url("./Elstob-Italic[GRAD,opsz,wght].woff2");
    font-weight: 200 800;
    font-style: italic;
}

html {
      margin-left: 5%;
      margin-right: 5%;
}
#joscelyndemo{
        font-size: 150%;
        margin: 0;
        font-family: "Joscelyn";
}

.samplebox {
    width: 90%;
    padding: 20px;
      border-style: solid;
      white-space: pre-wrap;
}

