@font-face {
      font-family: 'Joscelyn';
      src:url("./Joscelyn.woff2");
}
      /* #demo {font-family: Joscelyn; font-size: 120%;} */

@font-face {
    font-family: 'Elstob';
    src:url("./Elstob[GRAD,opsz,wght].woff2");
    font-weight: 200 800;
    font-style: normal;
}
@font-face {
    font-family: 'Elstob';
    src:url("./Elstob-Italic[GRAD,opsz,wght].woff2");
    font-weight: 200 800;
    font-style: italic;
}

html {
      margin-left: 5%;
      margin-right: 5%;
}

h1 {
      font-family: "Joscelyn";
      text-align: center;
      font-size: 3em;
}

p {
      width: 95%;
      font-family: "Elstob";
      font-size: 120%;
      font-variation-settings: 'opsz' 10, 'wght' 500, 'GRAD' 1;
}

b {
      font-family: "Elstob";
      font-variation-settings: 'opsz' 10, 'wght' 800, 'GRAD' 1;
}

#joscelyndemo{
        font-size: 150%;
        margin: 0;
        font-family: "Joscelyn";
}

p.samplebox {
    width: 90%;
    padding: 20px;
      border-style: solid;
      white-space: pre-wrap;
}

