      @font-face {
      font-family: 'Joscelyn';
      src:url("./Joscelyn.woff2");
      }
      /* #demo {font-family: Joscelyn; font-size: 120%;} */

html {
      margin-left: 5%;
      margin-right: 5%;
}
#joscelyndemo{
        font-size: 150%;
        margin: 0;
        font-family: "Joscelyn";
}

.samplebox {
    width: 90%;
    padding: 20px;
      border-style: solid;
      white-space: pre;
}

